@charset "UTF-8";
table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}
.cursor{
	cursor: pointer;
}
.center{
	text-align: center;
}
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}